GOOGLE_OAUTH_CLIENT_ID=179901585453-fvssj2iusk5pk11obbottoaaeojdj78s.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=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
GOOGLE_OAUTH_REDIRECT_URI=http://127.0.0.1:8000/auth/google/callback/

# Adzuna API credentials
API_APP_ID=aba5a62a
API_APP_KEY=75f0ba2c5c175d657c947ab1e219a92b
ADZUNA_APP_ID=aba5a62a
ADZUNA_APP_KEY=75f0ba2c5c175d657c947ab1e219a92b
ADZUNA_COUNTRY=us
